@model Causes.UI.Web.ViewModels.Login

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-5 mt-10 centered">
        <div class="card">
            <h4 class="text-center">Login</h4>
            <p class="text-danger">@ViewBag.Error</p>
            <p class="text-success">@TempData["RegisterMessage"]</p>
            <br />

            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true)
                @Html.AntiForgeryToken()
                <fieldset>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Email Address" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Password, new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter password" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>

                    <div>
                        @Html.EditorFor(model => model.RememberMe, new { htmlAttributes = new { @class = "input-control" } })
                        @Html.LabelFor(model => model.RememberMe, new { @class = "text-danger" })
                        @Html.ValidationMessageFor(model => model.RememberMe)
                    </div>

                    <p>
                        <button type="submit" class="btn btn-danger center-block"><i class="glyphicon glyphicon-ok"></i> Login</button>
                    </p><br />

                    <p class="content-divider">Don't have an account?</p><br />
                    @Html.ActionLink("Create An Account", "Register", "Account", new { @class = "btn btn-warning center-block" })
                </fieldset>
            }
        </div>
    </div>
</div>