@model Causes.UI.Web.ViewModels.User

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-5 mt-10 centered">
        <div class="card">
                <h4 class="text-center">Create An Account</h4><br />
                @using (Html.BeginForm())
                {
                    @Html.ValidationSummary(true)
                    @Html.AntiForgeryToken()
                    <fieldset>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Email, new {@class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Email Address" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger"})
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.FirstName, new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter First Name" } })
                                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.LastName, new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Last Name" } })
                                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.RoleId, new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.DropDownListFor(model => model.RoleId, Model.Roles, new { @class = "form-control"})
                            @Html.ValidationMessageFor(model => model.RoleId, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Password, new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter password" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>

                        <p>
                            <button type="submit" class="btn btn-danger center-block"><i class="glyphicon glyphicon-ok-circle"></i> Register</button>
                        </p>
                    </fieldset>
                }
            </div>
        </div>
</div>