@using Causes.UI.Web.Security
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:url" content="http://localhost:3493/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Causes.org" />
    <meta property="og:description" content="Create causes for people to sign" />
    <meta property="og:image" content="~/favicon.ico" />
    <title>Causes.org | @ViewBag.Title</title>

    <!-- Favicon -->
    <link rel="icon" href="~/favicon.ico" type="image/png">
    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800">

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/font-awesome")
    @Styles.Render("~/Content/swiper")
    @Styles.Render("~/Content/fancybox")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <header class="header-transparent" id="header-main">
        <!-- Main navbar -->
        <nav class="navbar navbar-main navbar-expand-lg navbar-sticky navbar-transparent navbar-dark bg-dark" id="navbar-main">
            <div class="container">
                <a class="navbar-brand mr-lg-5" href="#">
                    <img class="logo" alt="Causes.org" src="~/images/logo.png">
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main-collapse" aria-controls="navbar-main-collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbar-main-collapse">
                    <ul class="navbar-nav align-items-lg-center">
                        <li class="nav-item ">
                            @Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })
                        </li>

                        <li class="nav-item">
                            @Html.ActionLink("About", "About", "Home", null, new { @class = "nav-link" })
                        </li>
                    </ul>

                    <ul class="navbar-nav align-items-lg-center ml-lg-auto">
                        <li class="nav-item">
                            @if (Request.IsAuthenticated)
                            {
                                var identity = ((CustomPrincipal)HttpContext.Current.User).CustomIdentity;
                                <a href="@Url.Action("MyCauses", "Cause", new { id = identity.ProfileId })" class="nav-link">My Causes</a>
                            }
                        </li>
                        <li class="nav-item">
                            @if (Request.IsAuthenticated)
                            {
                                var identity = ((CustomPrincipal)HttpContext.Current.User).CustomIdentity;
                                if (identity.UserRoleName == "Admin")
                                {
                                    @Html.ActionLink("Admin", "Index", "Admin", null, new { @class = "nav-link" })
                                }
                            }
                        </li>
                        <li class="nav-item mr-0">
                            <a class="nav-link d-lg-none" href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
                            <a class="btn btn-sm btn-white btn-circle btn-icon d-none d-lg-inline-flex" href="javascript:document.getElementById('logoutForm').submit()">
                                <span class="btn-inner--icon"><i class="fa fa-power-off"></i></span>
                                <span class="btn-inner--text">Logout</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <section class="spotlight bg-cover bg-size--cover back-image" data-spotlight="fullscreen">
        <div class="spotlight-holder py-lg py-lg-0">
            <span class="mask bg-gradient-dark opacity-6"></span>
            <div class="container py-md d-flex align-items-center">
                <div class="col">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-md-7 col-lg-7 text-center">
                            <h1 class="text-white lh-150 mb-4">On Causes.org, people are starting causes, mobilising supporters and changing the world.</h1>
                            <ul class="list-inline">
                                <li class="list-inline-item text-white">February 15, 2019</li>
                                <li class="list-inline-item text-white">Written by Admin</li>
                            </ul>
                            <span class="clearfix"></span>
                            <a href="@Url.Action("About", "Home")" class="btn btn-white btn-circle btn-icon mt-4">
                                <span class="btn-inner--text">Continue reading</span>
                                <span class="btn-inner--icon"><i class="fa fa-angle-right"></i></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm", @class = "hidden" }))
    {
    }

    <div>
        <div id="fb-root"></div>
        @RenderBody()
        <hr />

    </div>

    <footer class="footer footer-dark bg-gradient-primary footer-dark bg-dark">
        <div class="container">
            <div class="row pt-md">
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <a href="#">
                        <img src="~/images/logo.png" alt="Footer logo" class="logo">
                    </a>
                    <p class="text-sm">On Causes.org, people are starting causes, mobilising supporters and changing the world</p>
                </div>
                <div class="col-lg-2 col-6 col-sm-4 ml-lg-auto mb-5 mb-lg-0">
                    <h6 class="heading mb-3">Home</h6>
                    <ul class="list-unstyled">
                        <li>
                            @Html.ActionLink("Home", "Index", "Home")
                        </li>
                        <li>
                            @Html.ActionLink("About", "About", "Home")
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-6 col-sm-4 mb-5 mb-lg-0">
                    <h6 class="heading mb-3">Profile</h6>
                    <ul class="list-unstyled text-small">
                        <li>
                            <a href="#">My Causes</a>
                        </li>
                        <li>
                            <a href="#">Admin</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row align-items-center justify-content-md-between py-4 mt-4 delimiter-top">
                <div class="col-md-6">
                    <div class="copyright text-sm font-weight-bold text-center text-md-left">
                        &copy; @DateTime.Now.Year <a href="#" class="font-weight-bold" target="_blank">Causes.org</a>. All rights reserved.
                    </div>
                </div>
                <div class="col-md-6">
                    <ul class="nav justify-content-center justify-content-md-end mt-3 mt-md-0">
                        <li class="nav-item">
                            <a class="nav-link active" href="#" target="_blank">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#" target="_blank">
                                <i class="fab fa-reddit"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" target="_blank">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" target="_blank">
                                <i class="fab fa-facebook"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/swiperjs")
    @Scripts.Render("~/bundles/fancyjs")
    <script async defer src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2&appId=369782596941708&autoLogAppEvents=1"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
